/* CSS para tela de computador do Dirack's Lounge

    Programador: Rodolfo A. C. Neves 15/04/2018

    Email: rodolfo_profissional@hotmail.com
    
    Utilizada nas páginas principais do site, uma coluna principal à
    esquerda e uma barra lateral à direita. 
    
    Layout de index.html:
	    O cabeçalho da página são duas divs, a primeira
	    é uma barra branca com o logo Dirack's Lounge Let's code
	    e a terceira é uma imagem de um laptop (Banner)

	    O corpo é dividido em duas barras laterais (esquerda e direita)
	    E um rodapé no final da página.
    
    As outras páginas são variações desse mesmo layout básico

    Licensa: http://www.dirackslounge.online/licensa.html
    
*/


/*Formulário Email na página HOME - index.html #A7C0DC*/
fieldset
  {
       background-color:#A7C0DC;
    border-radius: 15px;
    width: 250px;
    height:400px;
    border: 2px solid black;
  }

/* Flutuação sobre o Botão enviar */  
.bnt_submit:hover{
    background-color: #69f;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

/* Botão Enviar */
.bnt_submit{
      width:100px;
      height:25px;

      margin: 0px 0px 100px 0px;
}

/* Campos do formulário na página index.html (Home) */  
.campo_nome
  {
    left:95px;
    top:23px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
  }
  
.campo_email
  {
    left:95px;
    margin-top:2px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
  }
  
.msg {
    top:95px;
    margin-top:2px;
    width: 250px;
    border-radius: 5px;
}

/* Link no topo da pagina, para pular o banner*/
#homepage {
    color: white;
    font-size: 25px;
}


#home{
    color: white;
}

/*
#homepage a:link {
    color: black;
    border-bottom: thin dotted black;
}
*/


#descricao {
    padding: 0px 0px 0px 80px;
}

/* Barra com imagem do planeta Terra */
#preheader {
    background-image: url(images/banner.png);
    background-position: top;
    height: 200px;
    padding: 0px 20px 10px 50px;
    margin: 0px;
}

/* Alinhar fotos da página contato.html */
#fotos {
    text-align:center;
}

/* BOTÃO Menu de navegação flutuação */
li.selected:hover{
    background-image: linear-gradient(to bottom, #cf2b4f, #bdb1c2);
    border-radius: 5px;
}



/* BOTÃO Menu de navegação flutuação */
li.atual{
    background: #bdb1c2;
}

#navegacao {
    margin: 0px 0px 0px 0px;
}

/* Menu de navegação #053447*/
nav {
    background-image: linear-gradient(to bottom, #545454, #000000);
    margin: 0px 0px 0px 0px;
    width: 1355px;
    position: fixed;
    /*border-bottom: 2px solid black;
    border-top: 2px solid black;*/
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 20px 5px 20px;
}

nav ul li {
    display: inline;
    padding: 5px 20px 5px 20px;
}

nav ul li form {
    display: inline;
    padding: 5px 20px 5px 20px;
}

nav ul li form {
	background-image: linear-gradient(to bottom, #545454, #000000);
}

#botao {
	background-image: linear-gradient(to bottom, #00a000, #00a000);
	color: white;
}

#navegacao ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px 20px 5px 20px;
}

#navegacao ul li{
        display: inline;
        padding: 0px 2px 5px 2px;
        margin: 0px 10px 0px 0px;
}

#navegacao ul li a:link, #navegacao ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}

nav ul li a:link, nav ul li a:visited {
    color: white;
    border-bottom: none;
    font-weight: bold;
}

/* Botões de navegação #0F92C6*/
nav ul li.selected {
    background-image: linear-gradient(to bottom, #545454, #000000);
    border-radius: 5px;
}

#cabecalho {
    width: 1355px;
}

/* fonte dos títulos */
h1, h2, h3 {
    font-family: sans-serif;
    color: #005eff;
}

/* Fonte dos códigos */
code {
    font-size: large;
}

h1 { 
    border-bottom: 1px solid-black;
    text-indent: none;
}

#video {
	text-align: center;
}

/* background do body */
body {
    text-indent: 30px;
    text-align: justify;
    margin: 0px;
    font-family: Verdana, sans-serif;
    padding: 0px;
}

body p {
    font-size: large;
    color: #191919;
}

#perfil {
    text-indent: 0px;
    text-align: center;
    border: solid black;
    padding: 0px;
    margin: 0px;
}

/* alinhar logo*/
#logo {
    text-align: center;
}

#titulo {
    font-size: 390%;
}

/* folha de texto à esquerda com as postagens e artigos*/
#canvas {
    text-indent: 30px;
    background: white top left;
    padding: 20px 30px 0px 50px;
    margin: 10px 425px 20px 30px;
    color: #191919;
    text-align: justify;
}

/* Barra lateral à esquerda com formulário de email e atualizações*/
#posts {
    background: white top left;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 25px 0px 10px;
    width: 400px;
    float: right;
}

/* Rodapé da página */
#rodape {
    text-align: center;
    background-image: linear-gradient(to bottom, #545454, #000000);
    color: white;
    margin: 0px;
    padding: 20px;
    clear: right;
}

a:link {
    color: #053447; /*#b76666;*/
    text-decoration: none;
    border-bottom: thin solid #053447;
}

a:visited {
    color: #053447;/*#675c47;*/
    text-decoration: none;
    border-bottom: thin dotted #053447;
}

#galeria {
    border-bottom:0px;
}

/* Flutuação sobre as imagens da classe thumb

    Cada post recebe uma thumbnail da classe thumb, quando o mouse
    flutua sobre ela aparece borda e com indicando um link.
*/
.thumb:hover{
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid black;
    
}

.conteinerfoto {
   float:left;
   margin: 10px;
   padding:5px;
   text-align:center;
   
} 

blockquote {
    background-image: url("images/terminal.png");
    text-align: left;
    background-repeat: no-repeat;
    padding: 50px 0px 10px 10px;
    color: white;
    text-indent: 0px;
}

#busca input{
	border-radius: 20px;
}
